    //VARIABLES
    $p-width : 1920px;
    $wrapper-width : 1170px;
    $l-color : rgba(75, 202, 255, 0.1);  
    $header-color : rgba(69,80,87,0.85);
    $active-color : #4bcaff; 
    $m-font : Segoe UI;
    $text-color : #69747b;
    $section-color: #515f67;