#hero {
    height: 800px;
    
    // overflow: hidden;
    position: relative;
    img {
        // width: 100%;
    }

    .banner-overlane {
        position: absolute;
        top: 400px;
        .banner-title {
            div {
                text-align: center;
            }
            h2 {
                font-size: 42px;
                font-weight: 300;
                margin: 0px 0 12px 0;
                color: #fff;
                background-color: #4b555d;
                line-height: 1.5714285714285714;
                display: inline-block;
                font-family: $m-font;
                text-transform: uppercase;
                padding: 0 20px;
            }
        }
    }
    &:after {
        content: "";
        display: block;
        clear: both;
    }

}