#testimonials {
    height: 360px;
    .m-title h2{
        color: #000;
    }
    .m-line {
        border-top-color: #000;
        
    }

    .ts {
        &--quote {
            font-size: 28px;
            color: $testim-text-color;
        }

        &--author {
            font-size: 14px;
            font-weight: bold;
            color: $testim-auth-color;
        }
    }
}